<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<!-- Create an app at https://discord.com/developers/applications and paste its numeric ID here. -->
		<add key="DiscordApplicationId" value="1375931043017654372"/>
		<!-- Optional Rich Presence art key uploaded in the Discord developer portal. -->
		<add key="DiscordLargeImageKey" value="syntoolkit"/>
	</appSettings>
</configuration>
